<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Map Visual Options</h5>
		<div class="gf-form">
			<label class="gf-form-label width-10">Center</label>
      <div class="gf-form-select-wrapper max-width-10">
				<select class="input-small gf-form-input" ng-model="ctrl.panel.mapCenter" ng-options="t for t in ['(0°, 0°)', 'North America', 'Europe', 'West Asia', 'SE Asia', 'custom', 'Last GeoHash']" ng-change="ctrl.setNewMapCenter()"></select>
			</div>
      <div class="gf-form" ng-show="ctrl.panel.mapCenter === 'custom'">
        <input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.mapCenterLatitude" ng-change="ctrl.setNewMapCenter()" ng-model-onblur />
        <input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.mapCenterLongitude" ng-change="ctrl.setNewMapCenter()" ng-model-onblur />
      </div>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-10">Initial Zoom</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.initialZoom" ng-change="ctrl.setZoom()" placeholder="1" ng-model-onblur />
		</div>
    <div class="gf-form">
			<label class="gf-form-label width-10">Min Circle Size</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.circleMinSize" ng-change="ctrl.render()" placeholder="2" ng-model-onblur />
		</div>
    <div class="gf-form">
			<label class="gf-form-label width-10">Max Circle Size</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.circleMaxSize" ng-change="ctrl.render()" placeholder="30" ng-model-onblur />
		</div>
    <gf-form-switch class="gf-form"
      label="Sticky Labels" label-class="width-10"
      checked="ctrl.panel.stickyLabels" on-change="ctrl.toggleStickyLabels()">
    </gf-form-switch>
		<div class="gf-form">
			<label class="gf-form-label width-10">Decimals</label>
			<input type="number" class="input-small gf-form-input width-10" ng-model="ctrl.panel.decimals" ng-change="ctrl.refresh()" ng-model-onblur />
		</div>
    <div class="gf-form">
			<label class="gf-form-label width-10">Unit</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.unitSingular" placeholder="singular form" ng-change="ctrl.render()" ng-model-onblur />
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.unitPlural" placeholder="plural form" ng-change="ctrl.render()" ng-model-onblur />
		</div>
		<div class="gf-form">
			<gf-form-switch class="gf-form" label="Show Legend" label-class="width-10" checked="ctrl.panel.showLegend" on-change="ctrl.toggleLegend()"></gf-form-switch>
		</div>
	</div>
	<div class="section gf-form-group">
	  <h5 class="section-heading">Map Data Options</h5>
		<div class="gf-form">
			<label class="gf-form-label width-12">Location Data</label>
			<div class="gf-form-select-wrapper max-width-10">
				<select class="input-small gf-form-input" ng-model="ctrl.panel.locationData" ng-options="t for t in ['countries', 'countries_3letter', 'states', 'probes', 'geohash', 'json endpoint', 'jsonp endpoint', 'json result', 'table']" ng-change="ctrl.changeLocationData()"></select>
			</div>
		</div>
		<div class="gf-form" ng-show="ctrl.panel.locationData !== 'geohash'">
			<label class="gf-form-label width-12">Aggregation</label>
			<div class="gf-form-select-wrapper max-width-10">
				<select class="input-small gf-form-input" ng-model="ctrl.panel.valueName" ng-options="f for f in ['min','max','avg', 'current', 'total']" ng-change="ctrl.refresh()"></select>
			</div>
		</div>
		<div class="gf-form" ng-show="ctrl.panel.locationData === 'table'">
			<label class="gf-form-label width-12">Table Label Field</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.tableLabel" ng-change="ctrl.refresh()" ng-model-onblur />
		</div>
		<div class="gf-form" ng-show="ctrl.panel.locationData === 'geohash'">
			<label class="gf-form-label width-12">ES Metric Field</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.esMetric" ng-change="ctrl.refresh()" ng-model-onblur />
		</div>
		<div class="gf-form" ng-show="ctrl.panel.locationData === 'geohash'">
			<label class="gf-form-label width-12">ES Location Name Field</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.esLocationName" ng-change="ctrl.refresh()" ng-model-onblur />
		</div>
		<div class="gf-form" ng-show="ctrl.panel.locationData === 'geohash'">
			<label class="gf-form-label width-12">ES geo_point Field</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.esGeoPoint" ng-change="ctrl.refresh()" ng-model-onblur />
		</div>
		<div class="gf-form" ng-show="ctrl.panel.locationData === 'json endpoint'">
			<label class="gf-form-label width-12">Endpoint url</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.jsonUrl" ng-change="ctrl.refresh()" ng-model-onblur />
		</div>
		<div class="gf-form" ng-show="ctrl.panel.locationData === 'jsonp endpoint'">
			<label class="gf-form-label width-12">Endpoint url</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.jsonpUrl" ng-change="ctrl.refresh()" ng-model-onblur />
		</div>
		<div class="gf-form" ng-show="ctrl.panel.locationData === 'jsonp endpoint'">
			<label class="gf-form-label width-12">Jsonp Callback</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.jsonpCallback" ng-change="ctrl.refresh()" ng-model-onblur />
		</div>
	</div>

	<div class="section gf-form-group">
		<h5 class="section-heading">Threshold Options</h5>
		<div class="gf-form">
			<label class="gf-form-label width-10">Thresholds</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.thresholds" ng-change="ctrl.changeThresholds()" placeholder="0,10" ng-model-onblur />
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-10">Colors</label>
				<spectrum-picker class="gf-form-input width-3" ng-repeat="color in ctrl.panel.colors track by $index" ng-model="ctrl.panel.colors[$index]" ng-change="ctrl.changeThresholds()" ></spectrum-picker>
		</div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Hide series</h5>
    <gf-form-switch class="gf-form"
      label="With only nulls" label-class="width-10"
      checked="ctrl.panel.hideEmpty" on-change="ctrl.render()">
    </gf-form-switch>
    <gf-form-switch class="gf-form"
      label="With only zeros" label-class="width-10"
      checked="ctrl.panel.hideZero" on-change="ctrl.render()">
    </gf-form-switch>
  </div>
</div>
