<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Map Visual Options</h5>
		<div class="gf-form">
			<label class="gf-form-label width-10">Center</label>
      <div class="gf-form-select-wrapper max-width-10">
				<select class="input-small gf-form-input" ng-model="ctrl.panel.mapCenter" ng-options="t for t in ['(0°, 0°)', 'North America', 'Europe', 'West Asia', 'SE Asia', 'custom']" ng-change="ctrl.setNewMapCenter()"></select>
			</div>
      <div class="gf-form" ng-show="ctrl.panel.mapCenter === 'custom'">
        <input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.mapCenterLatitude" ng-change="ctrl.setNewMapCenter()" ng-model-onblur />
        <input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.mapCenterLongitude" ng-change="ctrl.setNewMapCenter()" ng-model-onblur />
      </div>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-10">Initial Zoom</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.initialZoom" ng-change="ctrl.setZoom()" ng-model-onblur />
		</div>
    <div class="gf-form">
			<label class="gf-form-label width-10">Min Circle Size</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.circleMinSize" ng-change="ctrl.render()" ng-model-onblur />
		</div>
    <div class="gf-form">
			<label class="gf-form-label width-10">Max Circle Size</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.circleMaxSize" ng-change="ctrl.render()" ng-model-onblur />
		</div>
    <div class="gf-form">
			<label class="gf-form-label width-10">Unit</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.unitSingular" placeholder="singular form" ng-change="ctrl.render()" ng-model-onblur />
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.unitPlural" placeholder="plural form" ng-change="ctrl.render()" ng-model-onblur />
		</div>
	</div>
	<div class="section gf-form-group">
	<h5 class="section-heading">Map Data Options</h5>
		<div class="gf-form">
			<label class="gf-form-label width-10">Location Data</label>
			<div class="gf-form-select-wrapper max-width-10">
				<select class="input-small gf-form-input" ng-model="ctrl.panel.locationData" ng-options="t for t in ['countries', 'probes']" ng-change="ctrl.changeLocationData()"></select>
			</div>
		</div>
	</div>
    
	<div class="section gf-form-group">
		<h5 class="section-heading">Data Value Options</h5>
		<div class="gf-form">
			<label class="gf-form-label width-10">Aggregation</label>
			<div class="gf-form-select-wrapper max-width-10">
				<select class="input-small gf-form-input" ng-model="ctrl.panel.valueName" ng-options="f for f in ['min','max','avg', 'current', 'total']" ng-change="ctrl.refresh()"></select>
			</div>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-10">Thresholds</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.thresholds" ng-change="ctrl.changeThresholds()" placeholder="0,10" ng-model-onblur />
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-10">Colors</label>
				<spectrum-picker class="gf-form-input width-3" ng-model="ctrl.panel.colors[0]" ng-change="ctrl.changeThresholds()" ></spectrum-picker>
				<spectrum-picker class="gf-form-input width-3" ng-model="ctrl.panel.colors[1]" ng-change="ctrl.changeThresholds()" ></spectrum-picker>
				<spectrum-picker class="gf-form-input width-3" ng-model="ctrl.panel.colors[2]" ng-change="ctrl.changeThresholds()" ></spectrum-picker>
		</div>
  </div>
</div>